<section layout="row" flex>
    <div layout="column" layout-padding flex>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h1 class="md-toolbar-tools">
                    Panier
                </h1>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Annuler" ng-click="emptyBasket()">
                    <md-tooltip>
                        Vider le panier
                    </md-tooltip>
                    <md-icon md-font-icon="fa-times" class="fa md-headline"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Confirmer" ng-click="confirmBasket()">
                    <md-tooltip>
                        Confirmer le panier
                    </md-tooltip>
                    <md-icon md-font-icon="fa-check" class="fa md-headline"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout="row" layout-padding class="md-whiteframe-z3">
            <div layout="row" layout-wrap flex="80" flex-sm="50">
                <md-card class="beer selectable" flex="20" flex-sm="100" ng-if="!clients.length">
                    <md-card-content layout="column" layout-align="center center">
                        <img src="imgs/interrogation.png" class="md-card-image" alt="Image utilisateur">
                        <div class="details">Choisis des élèves</div>
                    </md-card-content>
                </md-card>
                <md-card class="beer selectable" flex="20" flex-sm="100" ng-repeat="user in clients" ng-click="emptyUser(user)">
                    <md-card-content layout="column" layout-align="end center">
                        <img ng-src="{{ user.image_url | thumb | urlFile }}" class="md-card-image" alt="Image utilisateur">
                        <div class="details">{{ user.name ? user.name : user.first_name + ' ' + user.last_name }}</div>
                    </md-card-content>
                </md-card>
            </div>
            <div flex="20" flex-sm="50">
                <md-card class="beer selectable" flex="25" ng-click="emptyBeer()">
                    <md-card-content layout="column" layout-align="center center">
                        <img ng-if="beer.image_url"  class="md-card-image" alt="Image bière" ng-src="{{ beer.image_url | thumb | urlFile }}">
                        <img ng-if="!beer.image_url" class="md-card-image" alt="Image bière" src="imgs/interrogation.png">
                        <div class="details">{{ beer.name }} {{ beer.price ? '(' + beer.price + '€)' : '' }}</div>
                    </md-card-content>
                </md-card>
            </div>
        </md-content>

        <div layout="row" layout-wrap layout-padding>
            <div flex="60" flex-sm="100" class="users-list">
                <form ng-submit="$event.preventDefault()">
                    <md-autocomplete
                        md-search-text="searchText1"
                        md-search-text-change="searchTextChange(searchText1)"
                        md-selected-item-change="selectedUserChange(user)"
                        md-items="user in searchUser(searchText1)"
                        md-item-text="user.name"
                        md-min-length="1"
                        placeholder="Rechercher un élève...">
                        <md-item-template>
                            <span md-highlight-text="searchText1" md-highlight-flags="^i">{{ user.name }}</span>
                        </md-item-template>
                        <md-not-found>
                            Pas d'élève trouvé pour "{{ searchText1 }}".
                        </md-not-found>
                    </md-autocomplete>
                </form>
                <md-grid-list md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="4px" md-gutter-gt-sm="4px" style="padding-top:8px">
                    <md-grid-tile ng-repeat="user in users" md-rowspan="1" md-colspan="1" md-colspan-sm="1" class="md-whiteframe-z3" ng-click="selectUser(user)">
                        <figure>
                            <img ng-src="{{ user.image_url | thumb | urlFile }}" width="100%" height="100%">
                        </figure>
                        <md-grid-tile-footer>
                            {{ user.first_name }}<br>
                            {{ user.last_name }}
                        </md-grid-tile-footer>
                    </md-grid-tile>
            </md-grid-list>
            </div>
            <div flex="40" flex-sm="100">
                <form ng-submit="$event.preventDefault()">
                    <md-autocomplete
                        md-search-text="searchText2"
                        md-search-text-change="searchTextChange(searchText2)"
                        md-selected-item-change="selectedBeerChange(beer)"
                        md-items="beer in searchBeer(searchText2)"
                        md-item-text="beer.name"
                        md-min-length="1"
                        placeholder="Rechercher une bière...">
                        <md-item-template>
                            <span md-highlight-text="searchText2" md-highlight-flags="^i">{{ beer.name }}</span>
                        </md-item-template>
                        <md-not-found>
                            Pas de bières trouvées pour "{{ searchText2 }}".
                        </md-not-found>
                    </md-autocomplete>
                </form>
                <div layout="row" layout-wrap layout-align="center center">
                    <md-card class="beer selectable" ng-repeat="beer in beers" flex="29" flex-md="100" flex-sm="100" ng-click="selectBeer(beer)">
                        <md-card-content layout="column" layout-align="center center">
                            <img ng-if="beer.image_url"  class="md-card-image" alt="Image bière" ng-src="{{ beer.image_url | thumb | urlFile }}">
                            <img ng-if="!beer.image_url" class="md-card-image" alt="Image bière" src="imgs/interrogation.png">
                            <div class="details">{{ beer.name }} ({{ beer.price }}€)</div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-lg')">
        <md-toolbar class="md-theme-light">
            <div class="md-toolbar-tools">
                <h1 class="md-toolbar-tools">Historique des consos</h1>
                <md-button class="md-fab md-mini" aria-label="Créditer un compte" ng-click="addBalance($event)">
                    <md-tooltip>
                        Créditer un compte
                    </md-tooltip>
                    <md-icon md-font-icon="fa-usd" class="fa md-headline"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-content layout-padding style="max-height: 160vh;">
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="conso in consos">
                    <img ng-src="{{ conso.user.image_url | thumb | urlFile }}" class="md-avatar" alt="Image de l'utilisateur" />
                    <div class="md-list-item-text">
                        <h3>{{ conso.beer.name }}</h3>
                        <h4>{{ conso.user.first_name }} {{ conso.user.last_name }}</h4>
                        <p ng-if="conso.user.username == 'externe-foyer'">&nbsp;</p>
                        <p ng-if="conso.user.username != 'externe-foyer'">
                            <md-icon ng-if="conso.user.balance < 0" md-font-icon="fa-warning" class="fa md-title"></md-icon>
                            Compte : {{ conso.user.balance }} €
                            <md-icon ng-if="conso.user.balance < 0" md-font-icon="fa-warning" class="fa md-title"></md-icon>
                        </p>
                    </div>
                    <md-button class="md-fab" aria-label="Supprimer la conso" ng-click="deleteConso(conso)">
                        <md-tooltip>
                            Supprimer la conso
                        </md-tooltip>
                        <md-icon md-font-icon="fa-trash" class="fa md-headline"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</section>
