<md-content flex layout="row" layout-wrap layout-padding>
  <div flex="100">
    <canvas class="chart chart-bar"
      chart-data="promoBalance.data"
      chart-labels="promoBalance.labels"
      chart-series="promoBalance.series"
      chart-options="promoBalance.options"
    >
    </canvas>
  </div>
  <div flex="100">
    <canvas class="chart chart-bar"
      chart-data="soldBeer.data"
      chart-labels="soldBeer.labels"
      chart-series="soldBeer.series"
      chart-options="soldBeer.options"
    >
    </canvas>
  </div>
</md-content>
