<div layout="column" class="full-height">
    <md-content flex layout="column" style="overflow:hidden">
        <!-- Top toolbar -->
        <md-toolbar class="md-whiteframe-z3" md-scroll-shrink="true">
            <div class="md-toolbar-tools">
                <md-menu>
                    <md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-tooltip>
                            Menu
                        </md-tooltip>
                        <md-icon md-menu-origin md-font-icon="fa-bars" class="fa md-headline"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button aria-label="Consos" ng-click="go('root.consos')">
                                <md-icon md-menu-align-target md-font-icon="fa-usd" class="fa"></md-icon>
                                Consos
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="Bières" ng-click="go('root.beers')">
                                <md-icon md-menu-align-target md-font-icon="fa-beer" class="fa"></md-icon>
                                Bières
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button aria-label="Tableau de bord" disabled="disabled">
                                <md-icon md-menu-align-target md-font-icon="fa-dashboard" class="fa"></md-icon>
                                Tableau de bord
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <span flex hide-sm class="md-headline ng-binding">{{ pageTitle }}</span>

                <md-menu>
                    <md-button aria-label="Utilisateur" class="md-icon-button" ng-click="$mdOpenMenu()">
                        <md-tooltip>
                            Mon compte
                        </md-tooltip>
                        <md-icon md-menu-align-target md-font-icon="fa-user" class="fa md-headline"></md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button aria-label="Déconnexion" ng-click="logout()">
                                <md-icon md-menu-align-target md-font-icon="fa-sign-out" class="fa"></md-icon>
                                Déconnexion
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <md-content>
            <!-- Main content -->
            <div layout="column" ui-view style="min-height:107vh"></div>

            <!-- Footer -->
            <md-content id="footer">
                <md-toolbar>
                    <div class="md-toolbar-tools md-body-1" layout="row" layout-align="space-between center">
                        <p>Foyer</p>
                        <p >Made with ♥, AngularJS and other hipster technologies</p>
                        <p>By AT'016</p>
                    </div>
                </md-toolbar>
            </md-content>
        </md-content>
    </md-content>

</div>
