<md-dialog aria-label "Réceptionner des bières">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Réceptionner des bières</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Annuler" ng-click="cancel()">
                <md-icon md-font-icon="fa-times" class="fa md-headline"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form name="deliveryForm" ng-submit="addDelivery(amount, quantity)">
            <div layout="column">
                <md-autocomplete
                    md-search-text="searchText"
                    md-search-text-change="searchTextChange(searchText)"
                    md-selected-item-change="selectedDeliveryChange(beer)"
                    md-items="beer in searchBeer(searchText)"
                    md-item-text="beer.name"
                    md-min-length="3"
                    placeholder="Rechercher une bière...">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{ beer.name }}</span>
                    </md-item-template>
                    <md-not-found>
                        Pas de bière "{{ searchText }}".
                    </md-not-found>
                </md-autocomplete>
                <md-input-container>
                    <label>Prix total</label>
                    <input required type="number" step="0.01" name="amount" ng-model="amount">
                    <div ng-messages="deliveryForm.amount.$error" ng-show="deliveryForm.amount.$dirty">
                        <div ng-message="required">Champ obligatoire</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Quantité (consos)</label>
                    <input required type="integer" step="1" name="quantity" ng-model="quantity">
                    <div ng-messages="deliveryForm.quantity.$error" ng-show="deliveryForm.quantity.$dirty">
                        <div ng-message="required">Champ obligatoire</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-default md-raised" type="submit">
                    Valider
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>
