<section>
    <div layout="row" layout-wrap>
        <div flex="50" flex-xs="100" flex-sm="100">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h1>Profil</h1>
                </div>
            </md-toolbar>
            <md-content layout-padding layout="row">
                <img ng-src="{{ user.image_url | thumb | urlFile }}" class="md-avatar" alt="Image de l'utilisateur"/>
                <div>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <p>Promo {{ user.promo }}</p>
                    <span flex="30">
                        <p ng-if="transaction.user.username == 'externe-foyer'">&nbsp;</p>
                        <p ng-if="transaction.user.username != 'externe-foyer'">
                            <md-icon ng-if="transaction.user.balance < 0"
                                     md-font-icon="fa-warning"
                                     class="fa md-title">
                            </md-icon>
                            Compte : {{ user.balance | number:2 }} €
                        </p>
                    </span>
                </div>
            </md-content>

            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h1>Statistiques</h1>
                </div>
            </md-toolbar>
        </div>
        <div flex="50" flex-xs="100" flex-sm="100" class="md-whiteframe-z3" style="z-index:5; min-height: 93vh;">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                    <h1>Historique des transactions</h1>
                </div>
            </md-toolbar>
            <md-content layout="column" style="height:calc(100% - 64px);">
                <md-list style="height: 100%;">
                    <md-virtual-repeat-container layout="row" class="full-height">
                        <md-list-item class="md-3-line" md-virtual-repeat="transaction in transactions" md-on-demand style="margin:8px;">
                            <div class="md-list-item-text" flex layout="row">
                                <h4 flex="35">{{ transaction.date*1000 | date:"'Le' dd/MM 'à' HH'h'mm" }}</h4>
                                <h4 flex="25">{{ transaction.beer ? transaction.beer.name : 'Compte crédité' }}</h4>
                                <h4 flex="20">{{ transaction.amount }} €</h4>
                                <h4 flex="20">{{ transaction.beer ? transaction.beer.volume + ' L' : '' }}</h4>
                            </div>
                            <md-button class="md-fab md-primary" aria-label="Supprimer la transaction"
                                       ng-click="deleteConso(transaction)">
                                <md-icon md-font-icon="fa-trash" class="fa md-headline"></md-icon>
                            </md-button>
                        </md-list-item>
                    </md-virtual-repeat-container>
                </md-list>
            </md-content>
        </div>
    </div>
</section>
